@charset "UTF-8";

/* em HTML é id= em CSS é #
em HTML é class = em CSS é .
*/

body{
background-color: rgb(141, 194, 141);
}
h1{
    color: black;
}
h1#principal{
    text-align: center;
    color: darkblue;
    background-color: white;
}
h2{
    color: black;
}